
  .header{
      background: black;
      color: white;
      text-align: center;
      height: 100px;

  }
  .search{
      background: black;
      color: white;
      text-align: left;
      height: 50px;
  }

.border1{
    border: solid 1px;
    
}
  
